<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index'  %}">Django Blog</a>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'article:articles'  %}">Articles</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'about'  %}">About Us</a>
            </li>

          </ul>

          <ul class="navbar-nav ml-auto">
          {% if request.user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'article:dashboard'  %}">Admin Dashboard</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'user:logout'  %}">Log out</a>
          </li>
          {% else %}

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'user:login'  %}">Sign in</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'user:register'  %}">Register</a>
          </li>
          {% endif %}


          </ul>
        </div>


</nav>