{% extends "layout.html" %}

{% block body %}
<h3>Control Board</h3>
<hr>
<p>
    Welcome, <small>{{request.user.username}}</small>
</p>
<hr>
<a class = "btn btn-danger" href = "{% url 'article:addarticle' %}">Add Article </a>
<hr>
{% if articles %}
<table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">History</th>
            <th scope="col">Update</th>
            <th scope="col">Clear</th>
          </tr>
        </thead>
        <tbody>
          {% for article in articles %}
          <tr>
            <th scope="row">{{article.id}}</th>
            <td><a href="{% url 'article:detail' article.id %}">{{article.title}}</a></td>
            <td>{{article.author.username}}</td>
            <td>{{article.created_date}}</td>
            <td><a href="{% url 'article:update' article.id %}" class = "btn btn-danger">Update</a></td>
            <td><a href="{% url 'article:delete' article.id %}" class = "btn btn-danger">Clear</a> </td>

          </tr>
          {% endfor %}

        </tbody>
      </table>
{% else %}

<div class = "alert alert-danger">
    You have no articles yet ...

</div>
{% endif %}



{% endblock body %}

