{% extends "layout.html" %}

{% block body %}

<div class="jumbotron text-center">
        <h3>Welcome to Django Blog</h3>
</div>


<p>
        {% if request.user.is_authenticated %}
                Welcome, {{request.user.username}}
        {% else %}
                Unassigned
        {% endif %}

</p>
{% endblock body %}

